#wow {
  text-align: center;
  color: blue;
}

#wee {
  text-align: right;
  color: red;
}

span {
  display: block;
  text-align: center;
}

img {
  display: block;
  height: 100px;
  margin: auto;
}

#woo {
  width: 80%;
  height: 10px;
  margin: 20px auto;
  background-color: yellow;
  border: none;
}
